<div role="tabpanel" class="tab-pane" id="employment">
    <div class="col-sm-12">
        <!-- column 2 -->
        <hr />
        <div class="row">
            <!-- center left-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>DETALLE:</h4>
                </div>
                <div class="panel-body">
                    <!--      Primera Tabla --->
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>Obra</td>
                                    <td> <input type="text" id="TxtObra" name="Obra"></td>
                                    <td>Empresa</td>
                                    <td>Rut</td>
                                </tr>
                                <tr>
                                    <td>Fecha Aprobación</td>
                                    <td><input type="text" id="TxtFechaApro" name="FechaApro"></td>
                                    <td><input type="text" id="TxtEmpresa" name="Empresa"></td>
                                    <td><input type="text" id="TxtRut" name="Rut"></td>
                                </tr>
                                <tr>
                                    <td>Ascensor</td>
                                    <td> <input type="text" id="TxtAscen" name="Ascen"></td>
                                    <td>Dirección</td>
                                    <td>..</td>
                                </tr>
                                <tr>
                                    <td>Tecnico Emisor</td>
                                    <td> <input type="text" id="TxtTecEm" name="TecEm"></td>
                                    <td> <input type="text" id="TxtDireccion" name="Direccion"></td>
                                    <td>..</td>
                                </tr>
                                <tr>
                                    <td>Supervisor</td>
                                    <td> <input type="text" id="TxtSupervisor" name="Supervisor"></td>
                                    <td>..</td>
                                    <td>..</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
            <hr />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>New Requests</h4>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">INFORMO A UD. QUE CON ESTA FECHA SE HA APROBADO LO SIGUIENTE:</a>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td style="width:10%"></td>
                                    <td style="width:10%"></td>
                                    <td style="width:10%"></td>
                                    <td style="width:10%"></td>
                                    <td style="width:30%">PRESUPUESTO REP N°</td>
                                    <td style="width:40%"><input type="text" id="TextFechaApro" name="FechaApro"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td style="width:20%">APROBADO POR</td>
                                    <td style="width:50%"><input type="text" id="Txt_APROBPOR" name="APROBPOR"></td>
                                    <td style="width:30%"> VENDEDOR</td>
                                </tr>
                                <tr>
                                    <td style="width:20%">TELEFONO CONTACTO</td>
                                    <td style="width:50%">
                                        <input type="text" id="Txt_TELCONTA" name="TELCONTA">
                                    </td>
                                    <td style="width:30%">
                                        <input type="text" id="Txt_VENDEDOR" name="VENDEDOR">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="#" class="list-group-item">BREVE DESCRIPCION DE LA REPARACIÓN A EFECTUAR</a>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <textarea name="detalleArea" id="tf_detalleArea" rows="4" cols="50">Enter text here...</textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--/col-->
            <!-- COLUMNA IZQUIERDA-->
            <!--/col-span-6-->
            <!-- COLUMNA DERECHA-->
        </div>
        <!--/row-->
    </div>
    <!--/col-span-9-->
</div>


