@using Sertec.View.Models
@model IList<FacturacionViewModel>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>FACTURACIÓN EN CUOTAS</h4>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>N° CUOTA</th>
                        <th>N° FACTURA</th>
                        <th>VALOR</th>
                        <th>MES</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var name in Model)
                    {
                    <tr>
                        <td>@name.NumeroCuotas</td>
                        <td>@name.Factura</td>
                        <td>@name.Valor</td>
                        <td>@name.Mes</td>
                    </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>

</div>
