
@{
    ViewBag.Title = "PerfilUsuario";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Perfil Usuario</h2>

<br />
<br />
<br />
 <!--      Primera Tabla --->
<div class="table-responsive">
    <table class="table table-striped">

        <tbody>
            <tr>
                <td>Nombre</td>
                <td> <input type="text" id="TxtNombre" name="Nombre"></td>
                <td>Empresa</td>
                <td><input type="text" id="TxtEmpresa" name="Empresa"></td>
            </tr>
            <tr>
                <td>Apellido</td>
                <td><input type="text" id="TxtApellido" name="Apellido"></td>
                <td>Rut </td>
                <td><input type="text" id="TxtRut" name="Rut"></td>
            </tr>
            <tr>
                <td>Cargo</td>
                <td> <input type="text" id="TxtCargo" name="Cargo"></td>
                <td>Dirección</td>
                <td><input type="text" id="TxtDireccion" name="Direccion"></td>
            </tr>
            @*<tr>
                <td>Tecnico Emisor</td>
                <td> <input type="text" id="TxtTecEm" name="TecEm"></td>
                <td> <input type="text" id="TxtDireccion" name="Direccion"></td>
                <td>..</td>
            </tr>
            <tr>
                <td>Supervisor</td>
                <td> <input type="text" id="TxtSupervisor" name="Supervisor"></td>
                <td>..</td>
                <td>..</td>
            </tr>*@
        </tbody>

    </table>
</div>
<br />
<br />
<br />
<br />