@using Sertec.View.Models
@model PresupuestoTrabajoTercerosViewModel
<div class="table table-striped">
    <table id="TabTrapTer" class="table table-light">
        <thead>
            <tr>
                <td>TRABAJOS TERCEROS</td>
                <td>VALOR</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-sm-4">
                    @Html.TextBoxFor(m => m.Terceros, new { id = "tercerosId", @class = "form-control", Style = "width:90%", maxlength = 50 })
                    @Html.ValidationMessageFor(m => m.Terceros, "", new { @class = "text-danger" })
                </td>
                <td class="col-sm-4">
                    @Html.TextBoxFor(m => m.ValTer, new { id = "valorTerceros", @class = "form-control", Style = "width:90%", maxlength = 50 })
                    @Html.ValidationMessageFor(m => m.ValTer, "", new { @class = "text-danger" })
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" style="text-align: left;">
                    <button id="btnCrearTer" class="btn btn-success btn-sm">Agregar Trabajo</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
